
*{font-size: 99%; text-align: center;}
        body {
            font-family: Arial, sans-serif;

            background-color: tomato;
        }
        h1 {
            background-color: rgb(255,154,243);color: red;
text-align: center;

        }
p{
color: black;
}
hr{
color: green;
}

h2{color: tomato;}
